body,
html {
    width: 100%;
    height: 100%;
}

h1 {
    text-transform: uppercase;
    color: rgb(194, 193, 193);
    font-size: 4rem;
}

hr {
    max-width: 150px;
    border-width: 3px;
    border-color: rgb(0, 16, 156);
    margin-top: 100px;
    margin-bottom: 30px;
}

.background {
    background-position: center;
    background-image: url("background.jpeg");
    background-size: cover;
    height: 100%;
}

.btn-primary {
    background: rgb(0, 26, 255);
    padding: 1rem 2rem;
    border-radius: 300px;
}

.btn-primary:hover {
    border-color: rgb(0, 16, 156);
    border-width: 5px;
    background: rgb(0, 16, 156);
}